

#board
{
	display: flex;
	width: 99%;
	margin: auto;
	min-height: 550px;
	border: red solid 1px;
	flex-wrap: wrap;
}
#alert 
{  
	position: absolute;
	z-index: 256;
	width: 50%;
	margin: auto;
	height: 200px;
	font-size: 3em;
	color: red;
	background: blue;
	opacity: 0;
}

/*
#card
{
	width: 222px;
	margin: auto;
	height: 222px;
	border: green solid 3px;
}
.back
{
	width: 222px;
	margin: auto;
	height: 222px;
	background: blue;

}
*/